*.cache
*.editorconfig
api/appsettings.json
api/appsettings.Development.json
/api/bin
/api/bin
/api/bin/Debug
/api/obj
/api/obj/Debug
/api/bin
api/appsettings.json
api/bin/Debug/net8.0/api.exe
api/bin/Debug/net8.0/api.pdb
/api/certificado
/api/obj
/api/obj/Debug/net8.0
/api/obj/Debug
/api/obj
api/obj/Debug/net8.0/refint/api.dll
api/obj/Debug/net8.0/ref/api.dll
api/obj/Debug/net8.0/apphost.exe
api/obj/Debug/net8.0/api.sourcelink.json
api/obj/Debug/net8.0/api.pdb
api/obj/Debug/net8.0/api.dll
api/obj/Debug/net8.0/api.AssemblyInfoInputs.cache
api/obj/Debug/net8.0/api.AssemblyInfo.cs
api/bin/Debug/net8.0/api.pdb
api/bin/Debug/net8.0/api.exe
api/bin/Debug/net8.0/api.dll
