*.cache
*.editorconfig
api/appsettings.json
api/appsettings.Development.json
/api/bin
/api/bin
/api/bin/Debug
/api/obj
/api/obj/Debug
/api/bin
api/appsettings.json
api/bin/Debug/net8.0/api.exe
api/bin/Debug/net8.0/api.pdb
/api/certificado
/api/obj
/api/obj/Debug/net8.0
/api/obj/Debug
/api/obj
api/obj/Debug/net8.0/refint/api.dll
api/obj/Debug/net8.0/ref/api.dll
api/obj/Debug/net8.0/apphost.exe
api/obj/Debug/net8.0/api.sourcelink.json
api/obj/Debug/net8.0/api.pdb
api/obj/Debug/net8.0/api.dll
api/obj/Debug/net8.0/api.AssemblyInfoInputs.cache
api/obj/Debug/net8.0/api.AssemblyInfo.cs
api/bin/Debug/net8.0/api.pdb
api/bin/Debug/net8.0/api.exe
api/bin/Debug/net8.0/api.dll
api/obj/Debug/net8.0/api.AssemblyInfo.cs
api/obj/Debug/net8.0/api.AssemblyInfoInputs.cache
api/obj/Debug/net8.0/api.assets.cache
api/obj/Debug/net8.0/api.csproj.AssemblyReference.cache
api/obj/Debug/net8.0/api.GeneratedMSBuildEditorConfig.editorconfig
api/bin/Debug/net8.0/api.dll
api/bin/Debug/net8.0/api.pdb
api/bin/Debug/net8.0/AWSSDK.Core.dll
api/bin/Debug/net8.0/AWSSDK.SecurityToken.dll
api/bin/Debug/net8.0/DnsClient.dll
api/bin/Debug/net8.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
api/bin/Debug/net8.0/Microsoft.AspNetCore.JsonPatch.dll
api/bin/Debug/net8.0/Microsoft.AspNetCore.Mvc.NewtonsoftJson.dll
api/bin/Debug/net8.0/Microsoft.IdentityModel.Abstractions.dll
api/bin/Debug/net8.0/Microsoft.IdentityModel.JsonWebTokens.dll
api/bin/Debug/net8.0/Microsoft.IdentityModel.Logging.dll
api/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.dll
api/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
api/bin/Debug/net8.0/Microsoft.IdentityModel.Tokens.dll
api/bin/Debug/net8.0/MongoDB.Bson.dll
api/bin/Debug/net8.0/MongoDB.Driver.Core.dll
api/bin/Debug/net8.0/MongoDB.Driver.dll
api/bin/Debug/net8.0/MongoDB.Libmongocrypt.dll
api/bin/Debug/net8.0/Newtonsoft.Json.Bson.dll
api/bin/Debug/net8.0/Newtonsoft.Json.dll
api/bin/Debug/net8.0/SharpCompress.dll
api/bin/Debug/net8.0/Snappier.dll
api/bin/Debug/net8.0/System.IdentityModel.Tokens.Jwt.dll
api/bin/Debug/net8.0/ZstdSharp.dll
api/bin/Debug/net8.0/runtimes/linux/native/libmongocrypt.so
api/bin/Debug/net8.0/runtimes/osx/native/libmongocrypt.dylib
api/bin/Debug/net8.0/runtimes/win/native/mongocrypt.dll
api/obj/api.csproj.nuget.g.props
api/obj/api.csproj.nuget.g.targets
api/obj/project.nuget.cache
api/obj/project.assets.json
api/obj/Debug/net8.0/api.AssemblyInfo.cs
api/obj/Debug/net8.0/api.AssemblyInfoInputs.cache
api/obj/Debug/net8.0/api.assets.cache
api/obj/Debug/net8.0/api.csproj.AssemblyReference.cache
api/obj/Debug/net8.0/api.csproj.CoreCompileInputs.cache
api/obj/Debug/net8.0/api.csproj.FileListAbsolute.txt
api/obj/Debug/net8.0/api.dll
api/obj/Debug/net8.0/api.GeneratedMSBuildEditorConfig.editorconfig
api/obj/Debug/net8.0/api.genruntimeconfig.cache
api/obj/Debug/net8.0/api.pdb
api/obj/Debug/net8.0/api.sourcelink.json
api/obj/Debug/net8.0/ref/api.dll
api/obj/Debug/net8.0/refint/api.dll
api/obj/api.csproj.nuget.dgspec.json
api/obj/Debug/net8.0/api.AssemblyInfoInputs.cache
api/obj/Debug/net8.0/api.AssemblyInfo.cs
api/obj/Debug/net8.0/api.AssemblyInfoInputs.cache
api/obj/Debug/net8.0/api.AssemblyInfo.cs
api/obj/Debug/net8.0/api.AssemblyInfoInputs.cache
api/obj/Debug/net8.0/api.assets.cache
api/obj/Debug/net8.0/api.csproj.AssemblyReference.cache
api/obj/Debug/net8.0/api.GeneratedMSBuildEditorConfig.editorconfig
api/bin/Debug/net8.0/api.dll
api/bin/Debug/net8.0/api.pdb
api/obj/api.csproj.nuget.dgspec.json
api/obj/api.csproj.nuget.g.props
api/obj/api.csproj.nuget.g.targets
api/obj/project.assets.json
api/obj/project.nuget.cache
api/obj/Debug/net8.0/api.AssemblyInfo.cs
api/obj/Debug/net8.0/api.AssemblyInfoInputs.cache
api/obj/Debug/net8.0/api.assets.cache
api/obj/Debug/net8.0/api.csproj.AssemblyReference.cache
api/obj/Debug/net8.0/api.csproj.CoreCompileInputs.cache
api/obj/Debug/net8.0/api.csproj.FileListAbsolute.txt
api/obj/Debug/net8.0/api.dll
api/obj/Debug/net8.0/api.GeneratedMSBuildEditorConfig.editorconfig
api/obj/Debug/net8.0/api.genruntimeconfig.cache
api/obj/Debug/net8.0/api.pdb
api/obj/Debug/net8.0/api.sourcelink.json
api/obj/Debug/net8.0/ref/api.dll
api/obj/Debug/net8.0/refint/api.dll
api/obj/Debug/net8.0/api.genruntimeconfig.cache
api/obj/Debug/net8.0/api.GeneratedMSBuildEditorConfig.editorconfig
api/obj/Debug/net8.0/api.AssemblyInfoInputs.cache
api/obj/Debug/net8.0/api.AssemblyInfo.cs
api/obj/project.assets.json
api/obj/api.csproj.nuget.g.targets
api/obj/api.csproj.nuget.dgspec.json
api/bin/Debug/net8.0/api.dll
.vscode/launch.json
.vscode/tasks.json
api/bin/Debug/net8.0/api.dll
api/bin/Debug/net8.0/api.pdb
api/obj/Debug/net8.0/api.dll
api/obj/Debug/net8.0/api.AssemblyInfoInputs.cache
api/obj/Debug/net8.0/api.pdb
api/obj/Debug/net8.0/api.sourcelink.json
api/obj/Debug/net8.0/ref/api.dll
api/obj/Debug/net8.0/refint/api.dll
api/obj/Debug/net8.0/api.AssemblyInfo.cs
